    <div class="container">
      <h2 class="fw-bold text-center py-5">Hola,Bienvenido!</h2>

      <div>
        <form action="/nuevoevento" method="get">
          <div class="d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-dark btn-lg">
              Nuevo Evento
            </button>
          </div>
          <br />
          <br />
        </form>
      </div>
      <div>
        <form action="/miseventos" method="get">
          <div class="d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-dark btn-lg">
              Mis Eventos
            </button>
          </div>
        </form>
      </div>
    </div>