<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Mis Eventos</th>
          <th scope="col">Fecha</th>
          <th scope="col">Confirmaciones</th>
          <th scope="col">Estado</th>
          <th scope="col">Editar Evento</th>
        </tr>
      </thead>
      <tbody>
        {{#each lista_eventos}}
          <tr>
            <th scope="row">{{this.nombreagasajado}}</th>
            <td>{{this.diaevento}}</td>
            <td>120/200</td>
            <td>En curso</td>
            <td><button>Editar Evento</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<br />
<div class="col">
  <div class="row">
    <button>Seguimiento de Invitados</button>
  </div>
  <br />
</div>
<div class="col">
  <div class="row">
    <button>Eliminar Evento</button>
  </div>
</div>